@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
.leaflet-container {
  background: #f8fafc !important;
  z-index: 0;
}

.leaflet-popup-content-wrapper {
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.leaflet-popup-tip {
  box-shadow: none;
}
